.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 5 0;
}

.author-name {
    -fx-font-size: 15px;
    -fx-alignment: top-right;
    -fx-padding: 0 20 0 0;
}

.thumbnail-title {
    -fx-font-size: 15px;
    -fx-text-fill: #000000;
    -fx-text-overrun: ellipsis;
    -fx-alignment: center;
}

.thumbnail-isbn {
    -fx-font-size: 11px;
    -fx-text-fill: #242424;
    -fx-font-style: italic;
}

.details-title {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
}

.popup-confirmation {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}